name: Deploy Snapshot

on:
  workflow_dispatch:
    branches:
      - 'master'
      -
jobs:
  deploy:
    name: Deploy Snapshot
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: 'main'
          fetch-depth: 0
      - name: Install gpg secret key
        run: |
          echo -n ${{ secrets.OSSRH_GPG_SECRET_KEY }}  | base64 --decode | gpg --import
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN

      - name: Deploy to Maven Central
        run: |
          cat ~/.m2/settings.xml
          echo $MAVEN_USERNAME
          echo $MAVEN_CENTRAL_TOKEN
          mvn clean deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.OSSRH_TOKEN }}